<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.item.service.mapper.ParamMapper">
    <resultMap id="SpuParamResultMap" type="com.item.common.vo.SpuParamVo">
        <id column="id" property="id"/>
        <result column="spu_id" property="spuId"/>
        <result column="name" property="name"/>
        <result column="param_value" property="value"/>
        <result column="is_select" property="isSelect"/>
    </resultMap>

    <select id="getParamByCid" resultType="com.item.common.entity.TbParam">
        select * from tao_param p left join
        tao_category_param cp on p.id = cp.param_id
        where cp.category_id = #{cid}
    </select>

    <select id="getParamBySpuId" resultMap="SpuParamResultMap">
      SELECT spv.id, spv.spu_id, spv.param_value,p.name,p.is_select
      from tao_spu_param_value spv
      RIGHT JOIN tao_param p on spv.` param_id` = p.id
      where spv.spu_id = #{spuId}
    </select>
</mapper>