<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minitao.order.mapper.ReceiveMapper">
  <resultMap id="BaseResultMap" type="com.minitao.order.entity.Receive">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, `name`, phone, address
  </sql>
    <select id="selectByUserId" resultType="com.minitao.order.entity.Receive">
      select * from tao_receive where user_id = #{id}
    </select>

</mapper>